@using DutyPlan.Common.DB
<div class="col-xs-1" style="margin-left:2px">
    <table class="tableDms">
        <tbody>
            <tr>
                <th class="thspecial">Product</th>
                <th>W1</th>
                <th>W2</th>
            </tr>
            <tr>
                <td rowspan="2"><p>CPL</p><p>PPL</p></td>
                @for (var i = 1; i < 3; i++)
                {
                    var id = "cu" + i;
                    <td rowspan="2" class="tdimg"><img id="@id" src="@OperationDb.GetlocationById(id)" /></td>
                }
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>



